.about-one {
    display: flex;
    max-width: 70%;
    margin: auto;
    padding-top: 2rem;
    justify-content: space-between;
}

.about-one-left {
    max-width: 45%;
    min-width: 45%;
}

.about-one-right {
    max-width: 50%;
    min-width: 50%;
    height: 600px;
}

.about-one-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.about-one-left h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

.about-one-left p {
    font-size: 1.25rem;
    line-height: 1.5;
}

.about-one-left p span {
    position: relative;
    max-width: max-content;
    z-index: 1;
    font-size: inherit;
}

.about-one-left p span::after {
    content: "";
    position: absolute;

    left: -2%;
    bottom: -5%;

    width: 104%;
    height: 30px;

    background: var(--linear1);

    z-index: -1;
    /* border-radius: 1rem; */
    opacity: .5;
    filter: blur(5px);

    /* transform: rotate(-2deg); */
    transform-origin: center;
}

@media screen and (max-width: 1700px) {
    .about-one {
        max-width: 80%;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 800px) {
    .about-one {
        flex-direction: column;
        gap: 1rem;
        max-width: 90%;
    }

    .about-one-left h2 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
        font-weight: 900;
    }

    .about-one-left p {
        font-size: 1rem;
    }

    .about-one-left,
    .about-one-right {
        min-width: 100%;
        max-width: 100%;
    }

    .about-one-right {
        height: 300px;
    }

    .about-one-left p span::after {
        height: 22px;
        opacity: .6;
        filter: blur(6px);
    }

    .about-one-right img {
        border-radius: 1rem;
    }
}