/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Manrope", sans-serif; */
    font-family: "Valley Sans", sans-serif;
    font-size: 18px;
    color: var(--text1);
    letter-spacing: -5% !important;
}

html,
body {
    background-color: #fff;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* anchor tags */
a {
    text-decoration: none;
    color: inherit;
}

:root {
    --alpha: #f6afff;
    --beta: #bbb8eb;
    --gamma: #82f0ff;

    --text1: #191c20;
    --white2: #f7ebeb;

    --linear1: linear-gradient(270deg, var(--alpha) 0%, var(--beta) 50%, var(--gamma) 100%);

}

/* ------------------------------- */
/* Fixed container along the very top edge */
.progress-container {
    position: fixed;
    top: 61px;
    left: 0%;
    width: 100%;
    height: 6px;
    background-color: var(--white2);
    z-index: 1000 !important;
}

/* Animated active progress fill */
.progress-bar {
    height: 100%;
    width: 0%;
    background: var(--linear1);
    transition: width 1s ease-out;
}

@media screen and (max-width: 1200px) {
    .progress-container {
        height: 4px;
    }
}

/* fake-height */
.fake-height {
    height: 500vh;
}

/* --------------------- */
/* navbar */
.navbar {
    max-width: 100%;
    width: 100%;
    left: 0%;
    top: 0;
    height: 60px;
    background: whitesmoke;
    border-radius: 0;
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    padding: .65rem 15%;
    border-bottom: 1px solid var(--white2);
    position: fixed;
    z-index: 1000 !important;
}

.navbar-adjuster {
    display: block;
    position: relative;
    height: 65px;
}

.navbar-clickable {
    display: none;
}

.navbar-logo {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    z-index: 100000 !important;
}

.navbar-logo img {
    max-height: 35px;
    display: block;
}

.navbar * {
    color: var(--text1);
}

.responsive-lap-mobile {
    display: flex;
    width: max-content;
    gap: 5rem;
    justify-content: space-between;
    height: 100%;
}

.navbar .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    height: 100%;
}

.navbar .navbar-menu a {
    position: relative;
    z-index: 100;
    font-size: 1rem;
    text-transform: capitalize;
    border-right: none;
    padding: 0rem 1.5rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    border-radius: 1.25rem;
    font-weight: 400;
    cursor: pointer !important;
    transition: background .3s ease, color .7s ease;
}

.navbar .navbar-menu a:hover {
    background: var(--linear1) !important;
    transition: background .3s ease, color .7s ease;
}

.responsive-lap-mobile a.active2 {
    background: var(--linear1) !important;
}

@media screen and (max-width: 1200px) {

    .navbar {
        padding: .5rem 5%;
    }

    .responsive-lap-mobile {
        position: fixed;
        top: -200vh;
        transition: top .5s ease;
        flex-direction: column;
        width: 100%;
        left: 0%;
        border-radius: 0rem;
        z-index: 1000 !important;
        max-height: 100dvh;
        background: var(--white1);
        padding-inline: 5%;
        padding-top: 85px;
        justify-content: flex-start;
        overflow-y: scroll;
    }

    .navbar .navbar-menu a {
        border: 1px solid var(--white2);
        width: 100%;
        text-align: center;
        padding: .75rem .5rem;
        font-size: 1rem;
        background: whitesmoke;
    }

    .navbar .navbar-menu #stopp {
        border-bottom: 5rem !important;
    }

    .navbar-logo {
        font-size: 1.25rem;
    }

    .navbar-logo img {
        max-height: 35px;
    }

    .responsive-lap-mobile.active {
        top: 0;
        transition: top .5s ease;
        z-index: 10000 !important;
    }

    .navbar .navbar-menu {
        flex-direction: column;
        gap: .5rem;
        border: none;
        justify-content: flex-start;
    }

    .navbar-menu a {
        font-size: 1.2rem;
        justify-content: center;
        height: 45px;
    }

    .navbar-clickable {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: 100%;
        width: 50px;
        transition: transform .5s ease;
        z-index: 100000 !important;
    }

    .navbar-clickable * {
        position: absolute;
        height: 100%;
        width: 1.25rem;
        transition:
            opacity 0.5s ease,
            transform 0.6s ease;
    }

    /* Default State */
    .navbar-clickable .hamIcon {
        opacity: 1;
        transform: rotate(0deg);
    }

    .navbar-clickable .closeIcon {
        opacity: 0;
        width: 1rem;
        /* scale: 1.5;
        padding-right: 3px; */
        transform: rotate(-1800deg);
    }

    /* Active State */
    .navbar-clickable.active .hamIcon {
        opacity: 0;
        transform: rotate(1800deg);
    }

    .navbar-clickable.active .closeIcon {
        opacity: 1;
        transform: rotate(0deg);
    }
}

/* ---------------------- */
/* Footer */

.footer {
    display: flex;
    padding: 3rem 15% 2rem;
    gap: 2rem;
    justify-content: space-between;
    border-top: 2px solid var(--white2);
}

.footer-1 img {
    height: 100px;
}

.footer-2,
.footer-3 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer-2 .head,
.footer-3 .head {
    font-size: 1.65rem;
    font-weight: 600;
}

.footer-2 .lists,
.footer-3 .lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5%;
}

.footer-2 .lists a,
.footer-3 .lists a {
    font-size: 1rem;
    opacity: 0.5;
}

.footer-4 {
    display: flex;
    gap: .5rem;
}

.footer-4 a {
    background: var(--linear1);
    height: max-content;
    padding: .5rem;
    border-radius: 1.25rem;
}

.company-footer {
    padding: 0 15%;
    display: flex;
    justify-content: center;
    /* background: var(--white2); */
    margin : 0rem !important;
    overflow: hidden;
}

.company-footer h2 {
    font-size: 17vw;
    opacity: 0.1;
    line-height: 1;
    font-weight: 900;
}

@media screen and (max-width: 1200px) {
    .footer {
        padding-inline: 5%;
    }

    .footer-2 .head,
    .footer-3 .head {
        font-size: 1.5rem;

    }
}

@media screen and (max-width: 900px) {

    .footer-2 .head,
    .footer-3 .head {
        font-size: 1.25rem;
    }

    .footer-1,
    .footer-4 {
        min-width: 100%;
    }

    .footer-2 .lists,
    .footer-3 .lists {
        gap: .75rem;
        padding-left: 4px;
    }

    .footer-2,
    .footer-3 {
        min-width: calc(50% - .75rem);
        gap: .75rem;
    }

    .footer {
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 2rem 5% 1.5rem;
    }

    .company-footer h2 {
        font-size: 22vw;
    }
}