/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Manrope", sans-serif; */
    font-family: "Valley Sans", sans-serif;
    font-size: 18px;
    color: var(--text1);
    letter-spacing: -5% !important;
    font-weight: 300;
    /* z-index: inherit !important; */
}

@media screen and (max-width: 800px) {
    * {
        letter-spacing: -3.5% !important;
    }
}

html,
body {
    background-color: #fff;
    scroll-behavior: smooth !important;
    max-width: 100%;
    /* overflow-x: hidden; */
}

/* Optional: Respect user preferences for reduced motion */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body::-webkit-scrollbar {
    display: none;
}

/* anchor tags */
a {
    text-decoration: none;
    color: inherit;
}

:root {
    --alpha: #e581f2;
    --beta: #c8c5f3;
    --gamma: #4adaed;

    --text1: #191c20;
    --white2: #fff;
    --gray3: #eeeeee;

    --linear1: linear-gradient(140deg, var(--alpha) 0%, var(--beta) 50%, var(--gamma) 100%);

    --god: 1000;
    --govt: 100;
    --officer: 10;
    --people: 0;
}

.max-width-class {
    max-width: 100%;
    overflow: hidden;
}

.section-divider {
    height: 4rem;
    max-width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .section-divider {
        height: 2.5rem;
    }
}

/* ------------------------------- */
/* Fixed container along the very top edge */
.progress-container {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 5px;
    background: var(--gray3);
    z-index: var(--god);
}

/* Animated active progress fill */
.progress-bar {
    height: 100%;
    width: 0%;
    background: var(--linear1);
    transition: width 1s ease-out;
}

/* ------------------------- */
/* whatsapp-hanging */

.whatsapp-hanging {
    position: fixed;
    right: 5%;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 2rem;
    gap: .25rem;
    z-index: 1000 !important;
}

.whatsapp-hanging a {
    background-color: whitesmoke;
    padding: .75rem;
    border-radius: 50%;
    color: black;
    /* border: 1px solid; */
}


.whatsapp-hanging .what {
    background: #a9e8a5 !important;
}

.whatsapp-hanging .phone {
    background: rgb(173, 214, 227) !important;
}

@media screen and (max-width: 800px) {
    .whatsapp-hanging {
        gap: .25rem;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        right: 5%;
        bottom: 1rem;
        width: 90%;
        /* background-color: white; */
    }

    .whatsapp-hanging a {
        padding: .65rem;
    }
}

/* --------------------- */
/* navbar */
.navbar {
    max-width: 100%;
    width: 100%;
    left: 0%;
    top: 5px;
    height: 60px;
    background: whitesmoke;
    border-radius: 0;
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    padding: .65rem 15%;
    position: fixed;
    z-index: var(--god);
    border-bottom: 1px solid var(--gray3);
}

.navbar-adjuster {
    display: block;
    position: relative;
    height: 65px;
    z-index: var(--people) !important;
}

.navbar-clickable {
    display: none;
}

.navbar-logo {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.navbar-logo img {
    max-height: 35px;
    display: block;
}

.navbar * {
    color: var(--text1);
}

.responsive-lap-mobile {
    display: flex;
    width: max-content;
    gap: 5rem;
    justify-content: space-between;
    height: 100%;
}

.navbar .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    height: 100%;
}

.navbar .navbar-menu a {
    position: relative;
    font-size: 1rem;
    text-transform: capitalize;
    border-right: none;
    padding: 0rem 1.5rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    border-radius: 1.25rem;
    font-weight: 400;
    cursor: pointer !important;
    transition: background .3s ease, color .7s ease;
    border: 1px solid var(--text1) !important;
}

.navbar .navbar-menu a:hover {
    background: var(--linear1) !important;
    transition: background .3s ease, color .7s ease;
}

.responsive-lap-mobile a.active2 {
    background: var(--linear1) !important;
}

/* .navbar:hover .responsive-lap-mobile a.active2{
    background: transparent !important;
} */

.services-dropdown {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.services-dropdown .services-link {
    position: relative;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0rem 1.1rem 0 1.25rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 1rem !important;
    font-weight: 400;
    cursor: pointer;
    transition: background .3s ease, color .3s ease;
    border: 1px solid var(--text1) !important;
}

.services-dropdown .services-link:hover {
    background: var(--linear1) !important;
}

/* Arrow */
.services-link svg {
    font-size: .75rem;
    margin-top: .1rem;
    font-weight: 900 !important;
    transition: transform .3s ease;
}

/* Dropdown box */
.services-dropdown-menu {
    position: absolute;
    top: -200vh;
    left: 0;
    width: max-content;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    /* background: red; */
    padding-top: 1rem;
}

/* Dropdown links */
.services-dropdown-menu a {
    display: flex !important;
    align-items: center;
    width: 100% !important;
    padding: .5rem 1.5rem !important;
    border-radius: 1.25rem;
    background: var(--white2) !important;
    color: var(--text1) !important;
    /* font-weight: 600 !important; */
}

.services-dropdown-menu a:hover {
    background: var(--linear1) !important;
    color: var(--text1) !important;
}

.services-dropdown:hover .services-link {
    background: var(--linear1) !important;
}

/* Desktop hover */
.services-dropdown:hover .services-dropdown-menu {
    opacity: 1;
    top: 22px;
}

.services-dropdown:hover .services-link svg {
    transform: rotate(900deg);
    transition: transform 1s ease;
}

.navbar * {
    z-index: var(--god);
}

.navbar-blurry {
    position: fixed !important;
    min-height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);

    z-index: var(--people) !important;

    transition:
        opacity 0.4s ease,
        backdrop-filter 0.4s ease,
        visibility 0.3s ease !important;
}

.navbar:hover~.navbar-blurry {
    opacity: 1;
    visibility: visible;

    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    z-index: var(--govt) !important;

    transition:
        opacity 0.4s ease,
        backdrop-filter 0.4s ease,
        visibility 0.3s ease !important;

}

/* body:hover .navbar:not(:hover) .navbar-blurry {
    transition:
        opacity 1s ease,
        backdrop-filter .8s ease,
        visibility 0.5s ease !important;
} */

@media screen and (max-width: 1700px) {
    .navbar {
        padding-inline: 10%;
    }

    .services-dropdown-menu {
        gap: .2rem;
    }
}

@media screen and (max-width: 1200px) {

    .navbar {
        padding: .5rem 5%;
    }

    .navbar-blurry {
        display: none !important;
    }

    .responsive-lap-mobile {
        position: fixed;
        top: -200vh;
        transition: top .5s ease;
        flex-direction: column;
        width: 100%;
        left: 0%;
        z-index: var(--god);
        border-radius: 0rem;
        height: 100dvh;
        background: var(--white2) !important;
        padding-inline: 5%;
        padding-top: 75px;
        padding-bottom: 2rem;
        justify-content: flex-start;
        overflow-y: scroll !important;
        /* border: 2px solid red; */
    }

    .navbar .navbar-menu a {
        border: 1px solid var(--gray3);
        width: 100%;
        text-align: center;
        padding: .75rem .5rem;
        font-size: 1rem;
        background: whitesmoke;
    }

    .navbar-logo {
        font-size: 1.25rem;
        z-index: var(--god);
    }

    .navbar-logo img {
        max-height: 35px;
    }

    .responsive-lap-mobile.active {
        top: 0;
        transition: top .5s ease;
        z-index: var(--govt) !important;
    }

    .navbar .navbar-menu {
        flex-direction: column;
        gap: .5rem;
        border: none;
        justify-content: flex-start;
    }

    .navbar-menu a {
        font-size: 1.2rem;
        justify-content: center;
        height: 45px;
    }

    .navbar-clickable {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: 100%;
        width: 50px;
        transition: transform .5s ease;
        z-index: var(--god) !important;
    }

    .navbar-clickable * {
        position: absolute;
        height: 100%;
        width: 1.25rem;
        transition:
            opacity 0.5s ease,
            transform 0.6s ease;
    }

    /* Default State */
    .navbar-clickable .hamIcon {
        opacity: 1;
        transform: rotate(0deg);
    }

    .navbar-clickable .closeIcon {
        opacity: 0;
        width: 1rem;
        /* scale: 1.5;
        padding-right: 3px; */
        transform: rotate(-1800deg);
    }

    /* Active State */
    .navbar-clickable.active .hamIcon {
        opacity: 0;
        transform: rotate(1800deg);
    }

    .navbar-clickable.active .closeIcon {
        opacity: 1;
        transform: rotate(0deg);
    }

    .services-dropdown {
        width: 100%;
        height: auto;
        display: block;
    }

    .services-dropdown .services-link {
        width: 100%;
        height: 45px;
        justify-content: center;
        padding: .75rem .5rem;
        border-radius: 1.25rem !important;
    }

    .services-dropdown-menu {
        position: static;
        width: 100%;
        margin-inline: auto;
        min-width: 0;
        transform: translateY(-10px);
        box-shadow: none;
        background: var(--white2);
        display: none;
    }

    /* Opened by JS */
    .services-dropdown .services-dropdown-menu {
        display: flex;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
        margin-top: .5rem;
        padding-top: 0rem;
        gap: .5rem;
        border-radius: 0 !important;
        border-left: 1px solid var(--text1);
        max-width: 95%;
    }

    .services-dropdown-menu a {
        padding: .75rem !important;
        justify-content: center;
        max-width: 97%;
        margin-left: 3%;
        /* border-radius: 0 1.25rem 1.25rem 0 !important; */
    }
}

@media screen and (max-width: 400px) {
    .services-dropdown.mobile-active .services-dropdown-menu {
        max-width: 90%;
    }

    .services-dropdown-menu a {
        max-width: 95%;
        margin-left: 5%;
    }
}

/* ---------------------- */
/* Footer */

.footer {
    display: flex;
    padding: 3rem 15% 2rem;
    gap: 2rem;
    justify-content: space-between;
    /* border-top: 1px solid var(--text1); */
    background: var(--gray3);
}

.footer-1 img {
    /* height: 100px; */
    max-width: 100%;
    max-height: 60px;
}

.footer-1 {
    max-width: 25%;
}

.footer-1 p {
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 1.4;
    opacity: .5 !important;
}

.footer-2,
.footer-3 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 15%;
    width: 15%;
    /* border: 1px solid red; */
}

.footer-2 .head,
.footer-3 .head {
    font-size: 1.5rem;
    font-weight: 600;
    /* color: red; */
    padding-bottom: 1rem;
    border-bottom: 1px solid gainsboro;
}

.footer-2 .lists,
.footer-3 .lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5%;
}

.footer-2 .lists a,
.footer-3 .lists a {
    font-size: 1.25rem !important;
    font-weight: 200 !important;
}

.footer-3-social {
    gap: .25rem !important;
}

.footer-3-social a {
    background: var(--linear1);
    height: max-content;
    padding: .5rem 1.25rem;
    text-align: left;
    border-radius: 1.25rem;
    width: max-content;
    font-size: 1.25rem !important;
}

.footer-3-social a svg {
    font-size: 1.25rem !important;
    margin-right: .25rem;
}

.footer-3-social .head {
    margin-bottom: 1.25rem;
}

.company-footer {
    padding: 0 15%;
    display: flex;
    justify-content: center;
    margin: 0rem !important;
    overflow: hidden;
    background: var(--gray3);
}

.company-footer h2 {
    font-size: 16vw;
    opacity: 0.1 !important;
    line-height: 1;
    font-weight: 900 !important;
}

@media screen and (max-width: 1700px) {
    .footer {
        padding-inline: 10%;
    }

    .footer-3-social a svg,
    .footer-3-social a,
    .footer-2 .lists a,
    .footer-3 .lists a,
    .footer-1 p {
        font-size: 1.1rem !important;
    }

    .company-footer h2 {
        font-size: 18.5vw;
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        padding-inline: 5%;
    }

    .footer-2 .head,
    .footer-3 .head {
        font-size: 1.15rem;
    }

    .footer-3-social a svg,
    .footer-3-social a,
    .footer-2 .lists a,
    .footer-3 .lists a,
    .footer-1 p {
        font-size: 1rem !important;
    }

    .company-footer h2 {
        font-size: 21vw;
    }
}

@media screen and (max-width: 900px) {

    .footer-2 .head,
    .footer-3 .head {
        font-size: 1.25rem;
        padding-bottom: .75rem;
    }

    .footer-1 {
        min-width: 100%;
    }

    .footer-2 .lists,
    .footer-3 .lists {
        gap: .75rem;
        padding-left: 4px;
    }

    .footer-3-social .head {
        margin-bottom: .75rem;
    }

    .footer-2,
    .footer-3 {
        min-width: calc(50% - .75rem);
        gap: .75rem;
    }

    .footer {
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 2rem 5% 1.5rem;
    }

    .company-footer h2 {
        font-size: 22vw;
    }

    .company-footer {
        padding-bottom: 5rem;
    }
}

/* ------------------------- */
/* home-one */

.home-one {
    display: flex;
    flex-direction: column;
    padding: 4rem 15% 0;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

.home-one img {
    position: absolute;
    width: 30%;
    opacity: .09 !important;
    z-index: var(--people);
}

.home-one * {
    text-align: center;
}

.home-one h2 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    max-width: 80%;
}

.home-one h2 span {
    font-size: inherit;
    color: transparent;
    background: var(--linear1);
    background-clip: text;
    font-weight: inherit;
}

.home-one h6 {
    font-style: italic;
    font-size: 1.5rem;
    opacity: .25 !important;
}

.home-one h4 {
    font-size: 2rem;
    max-width: 90%;
}

.home-one h4 span {
    font-size: inherit;
    font-weight: 600;
}

.cta-home-one {
    display: flex;
    max-width: max-content;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.home-one a {
    background: var(--linear1);
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: .5rem .6rem .5rem 2rem;
    border-radius: 2rem;
    font-weight: 600;
    /* color: var(--white2); */
    z-index: var(--officer) !important;
    max-width: max-content;
}

.home-one a .home-one-arrow {
    background: var(--white2);
    padding: .5rem;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform .25s ease;
}

.home-one a:hover .home-one-arrow {
    transform: rotate(-360deg);
}

.home-one a:hover {
    background: var(--text1);
    color: var(--white2);
}

.home-one-sub {
    max-width: 70%;
    margin: 0 auto;
    border-radius: 4rem 4rem 0 0;
    overflow: hidden;
    height: 650px;
    position: relative;
}

.home-one-sub #hos-1 {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: 50% 60% !important;
}

.home-one-sub .content {
    position: absolute;
    right: 5%;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: var(--officer) !important;
}

.home-one-sub .content * {
    text-align: end;
    color: var(--white2);
}

.home-one-sub .content h2 {
    font-size: 4rem;
    font-weight: 900;
}

.home-one-sub .content p {
    font-size: 1.5rem;
    max-width: 100%;
    font-weight: 600;
}

.home-one-sub #hos-2 {
    position: absolute;
    left: 5%;
    bottom: 2rem;
    max-width: 5rem;
}

@media screen and (max-width : 1700px) {

    .home-one {
        padding-inline: 10%;
    }

    .home-one h4 {
        font-size: 1.75rem;
    }

    .home-one h2 {
        font-size: 3.5rem;
        max-width: 70%;
    }

    .home-one-sub {
        max-width: 80%;
    }
}

@media screen and (max-width : 1200px) {
    .home-one {
        padding-inline: 5%;
        gap: 1rem;
        padding-top: 2rem;
    }

    .home-one-sub {
        max-width: 90%;
        border-radius: 2rem 2rem 0 0;
    }

    .home-one img {
        width: 60%;
    }

    .home-one h4 {
        font-size: 1.5rem;
    }

    .home-one h2 {
        font-size: 3rem;
        max-width: 100%;
    }

    .home-one h6 {
        font-size: 1.25rem;
    }

}

@media screen and (max-width: 800px) {
    .home-one h2 {
        font-size: 2rem;
        letter-spacing: -5% !important;
    }

    .home-one h2 span {
        letter-spacing: inherit !important;
    }

    .home-one h4 {
        font-size: 1.2rem;
        max-width: 100%;
    }

    .home-one h6 {
        font-size: 1rem;
    }

    .home-one-sub {
        height: 400px;
    }

    .home-one a {
        gap: 1rem;
        padding: .4rem .5rem .4rem 1.25rem;
        border-radius: 1.5rem;
    }

    .home-one a .home-one-arrow {
        padding: .35rem;
    }

    .home-one-sub .content h2 {
        font-size: 2.5rem;
    }

    .home-one-sub .content p {
        font-size: 1.1rem;
    }

    .home-one-sub #hos-2 {
        max-width: 3rem;
    }

    .home-one img {
        width: 80%;
        opacity: .08 !important;
    }

    .cta-home-one {
        gap: .5rem;
    }
}

@media screen and (max-width: 400px) {
    .home-one h2 {
        font-size: 1.75rem;
    }

    .home-one h4 {
        font-size: 1.1rem;
    }
}

/* ------------------------------------------- */
/* marquee */
.marquee-loop {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background: var(--text1);
}

.marquee-loop-track {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;

    will-change: transform;

    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    animation: marqueeLoop 60s linear infinite;
}

/* .marquee-loop:hover .marquee-loop-track {
    animation-play-state: paused;
} */

.marquee-item {
    flex: 0 0 auto;
    white-space: nowrap;
    color: var(--white2);
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-right: 1px solid var(--white2);
}

@keyframes marqueeLoop {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-50%, 0, 0);
    }
}

/* Tablet */

@media (max-width:800px) {

    .marquee-item {
        padding: .75rem 1.5rem;
        font-size: 1.1rem;
    }

}

/* Mobile */

@media (max-width:480px) {

    .marquee-item {
        padding: .65rem 1.2rem;
        font-size: 1rem;
    }

}

/* Accessibility */

@media (prefers-reduced-motion:reduce) {

    .marquee-loop-track {
        animation: none;
    }

}

@media screen and (max-width : 1700px) {
    .marquee-loop {
        max-width: 80%;
    }
}

@media screen and (max-width : 1200px) {
    .marquee-loop {
        max-width: 90%;
    }
}

/* ---------------------------- */
/* zig-zag-section */

.zig-zag-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: auto;
}

.zzs-div {
    display: flex;
    gap: 5%;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;
}

.zzs-div:nth-child(even) {
    flex-direction: row-reverse;
}

.zzs-div img {
    min-width: 50%;
    max-width: 50%;
    /* clip-path: polygon(0% 0%,
            70% 0%,
            100% 50%,
            70% 100%,
            0% 100%,
            30% 50%);
    transition: all 1s ease !important; */
    object-fit: cover;
    min-height: 400px;
    position: relative;
    border: 5px solid var(--gray3);
    border-radius: 2rem;
}

.zzs-div>img:after {
    content: url(./favicon/favicon.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 10rem;
}

/* .zzs-div:nth-child(even) img {
    clip-path: polygon(30% 0%,
            100% 0%,
            70% 50%,
            100% 100%,
            30% 100%,
            0% 50%);
} */

.zzs-div .zzs-div-right h2 {
    font-size: 3rem;
    /* font-weight: 600; */
    line-height: 1.15;
    text-align: end;
}

.zzs-div .zzs-div-right p {
    font-size: 1.5rem;
    margin-top: 1rem;
    opacity: .5 !important;
    text-align: end;
}

.zzs-div .zzs-div-right a {
    background: var(--linear1);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    display: block;
    max-width: max-content;
    margin-top: 2rem;
}

.zzs-div:nth-child(even) .zzs-div-right * {
    text-align: left;
}

.zzs-div:nth-child(odd) .zzs-div-right {
    align-items: flex-end !important;
    display: flex;
    flex-direction: column;
}

.zigzag-heading {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.zigzag-heading * {
    text-align: center;
}

.zigzag-heading h2 {
    font-size: 3rem;
    font-weight: 900;
}

.zigzag-heading p {
    font-size: 2rem;
    font-style: italic;
    margin: .5rem 0 2rem;
    opacity: .5;
}

@media screen and (max-width: 1700px) {

    .zig-zag-section,
    .zigzag-heading {
        max-width: 80%;
    }

    .zzs-div .zzs-div-right h2 {
        line-height: 1;
    }

    .zigzag-heading h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .zigzag-heading p {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 1200px) {
    .zzs-div .zzs-div-right h2 {
        font-size: 2.5rem;
    }

    .zig-zag-section,
    .zigzag-heading {
        max-width: 90%;
    }

    .zzs-div .zzs-div-right p {
        font-size: 1.25rem;
    }

    .zigzag-heading h2 {
        font-size: 2rem;
        font-weight: 900;
    }

    .zigzag-heading p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .zzs-div .zzs-div-right h2 {
        font-size: 1.5rem;
        text-align: left;
    }

    .zzs-div,
    .zzs-div:nth-child(even) {
        flex-direction: column;
        gap: 1rem;
    }

    .zig-zag-section {
        gap: 2rem;
    }

    .zzs-div .zzs-div-right p {
        font-size: 1.05rem;
        text-align: left;
        line-height: 1.4;
    }

    .zzs-div img,
    .zzs-div:nth-child(even) img {
        height: 200px;
        max-width: 100%;
        width: 100%;
        clip-path: none;
        border-radius: 1rem;
    }

    .zzs-div:nth-child(odd) .zzs-div-right {
        align-items: flex-start !important;
    }

    .zzs-div img {
        min-height: 220px;
    }

    .zzs-div .zzs-div-right a {
        padding: .5rem 1.25rem;
        margin-top: 1rem;
    }

    .zigzag-heading h2 {
        font-size: 1.75rem;
        font-weight: 900;
    }

    .zigzag-heading p {
        font-size: 1.25rem;
        margin-bottom: 0;
    }
}

/* ------------------------------ */
/* professional-cta */

.professional-cta {
    max-width: 70%;
    margin: auto;
    height: min-content;
    background: var(--linear1);
    border-radius: 2rem;
    display: flex;
    padding: 2rem;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.professional-cta>img {
    max-width: 40%;
    width: 40%;
    position: absolute;
    right: 2%;
    bottom: 0;
    transform: scaleX(-1);
}

.services-provided {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    width: 55%;
    max-width: 55%;
    gap: 1rem;
}

.services-provided .ssp-div {
    display: flex;
    background-color: var(--white2);
    overflow: hidden;
    padding: .75rem 1.5rem;
    border-radius: 2rem;
    align-items: center;
    width: calc(50% - .5rem);
    gap: 1rem;
}

.services-provided .ssp-div img {
    max-width: 1.5rem;
}

.services-provided .ssp-div h2 {
    font-size: 1.1rem;
    line-height: 1.1;
}

.services-provided .ssp-div:hover {
    background: var(--text1);
    cursor: pointer;
}

.services-provided .ssp-div:hover h2 {
    color: var(--white2);
}

@media screen and (max-width: 1700px) {

    .professional-cta {
        max-width: 80%;
        padding: 1rem;
    }

    .professional-cta>img {
        max-width: 35%;
        width: 35%;
    }

    .services-provided {
        width: 60%;
        max-width: 60%;
        gap: .75rem;
    }

    .services-provided .ssp-div {
        width: calc(50% - .375rem);
    }

    .services-provided .ssp-div h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .professional-cta {
        max-width: 90%;
        padding: 1rem;
        border-radius: 1.5rem;
    }

    .services-provided .ssp-div {
        gap: 1rem;
    }

    .services-provided {
        gap: .75rem;
    }

    .services-provided .ssp-div h2 {
        font-size: .9rem;
    }

    .professional-cta>img {
        max-width: 30%;
        width: 30%;
    }

    .services-provided {
        width: 65%;
        max-width: 65%;
    }

    .services-provided .ssp-div img {
        max-width: 1.25rem;
    }

}

@media screen and (max-width: 800px) {

    .professional-cta>img {
        max-width: 100%;
        width: 100%;
        position: relative;
    }

    .professional-cta {
        border-radius: 1rem;
        flex-direction: column;
        padding-bottom: 0;
        gap: 1rem;
        /* padding-bottom: 500px; */
    }

    .services-provided .ssp-div {
        width: 100%;
    }

    .services-provided {
        max-width: 100%;
        width: 100%;
        gap: .5rem;
    }

    .services-provided .ssp-div h2 {
        font-size: 1rem;
        font-weight: 600;
    }
}

/* ------------------------------- */
/* metrics */

.metrics {
    max-width: 70%;
    margin: auto;
    position: relative;
}

.metrics h2 {
    font-size: 2.75rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1.75rem;
}

.metrics-values-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.metrics-values-main .mvm-div {
    max-width: 25%;
    width: calc(25% - 1rem);
}

.metrics-values-main .mvm-div h4 {
    font-size: 2.5rem;
    background: var(--linear1);
    background-clip: text;
    color: transparent;
    max-width: max-content;
    font-weight: 900;
}

.metrics-values-main .mvm-div h5 {
    font-size: 1.3rem;
    margin: .75rem auto 1rem;
}

.metrics-values-main .mvm-div p {
    font-size: 1.25rem;
    line-height: 1.5;
    opacity: .5 !important;
}

@media screen and (max-width: 1700px) {
    .metrics {
        max-width: 80%;
    }

    .metrics-values-main .mvm-div h4 {
        font-size: 3.25rem;
    }

    .metrics h2 {
        font-size: 2.5rem;
    }

    .metrics-values-main .mvm-div p {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 1200px) {
    .metrics {
        max-width: 90%;
    }

    .metrics-values-main .mvm-div h4 {
        font-size: 2.5rem;
    }

    .metrics-values-main .mvm-div h5 {
        font-size: 1.25rem;
        margin: .75rem auto 1rem;
    }

    .metrics-values-main .mvm-div p {
        font-size: 1.1rem;
    }

    .metrics h2 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 800px) {
    .metrics h2 {
        font-size: 1.5rem;
    }

    .metrics-values-main {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .metrics-values-main .mvm-div {
        max-width: 50%;
        width: calc(50% - .5rem);
    }

    .metrics-values-main .mvm-div h4 {
        font-size: 1.75rem;
    }

    .metrics-values-main .mvm-div h5 {
        font-size: 1.1rem;
        margin: .25rem auto .5rem;
    }

    .metrics-values-main .mvm-div p {
        font-size: 1rem;
    }
}

/* -------------------------- */
/* swiper-articles */

.swiper-articles {
    max-width: 70%;
    margin: auto;
    height: max-content;
    padding-top: 4.5rem;
}

.swiper-articles .swiper-wrapper {
    height: 100%;
}

.swiper-articles .swiper-wrapper .swiper-slide {
    height: 100%;
    background: var(--gray3);
    overflow: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}

.swiper-articles .swiper-wrapper .swiper-slide * {
    max-width: 100%;
    display: block !important;
    color: var(--text1);
    line-height: 1.35;
}

.swiper-articles .swiper-wrapper .swiper-slide h6 {
    border: 1px solid;
    padding: .65rem 1.5rem;
    max-width: max-content;
    border-radius: 2rem;
}

.swiper-articles .swiper-wrapper .swiper-slide h4 {
    font-size: 1.1rem;
}

.swiper-articles .swiper-wrapper .swiper-slide h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.arrows-to-controls {
    display: flex;
    border-radius: 50%;
    padding: 1rem 1.25rem !important;
    background: var(--linear1);
    position: absolute;
    left: 0;
    top: 2rem;
}

.swiper-articles .swiper-button-prev {
    left: 0;
}

.swiper-articles .swiper-button-next {
    left: 3rem;
}


.swiper-articles .swiper-button-prev::after,
.swiper-articles .swiper-button-next::after {
    font-size: 1rem;
    color: var(--text1);
    font-weight: 900;
}

.swiper-articles a {
    max-width: max-content;
    display: flex;
    gap: .75rem;
    align-items: center;
    position: absolute;
    right: 0;
    top: .75rem;
}

.swiper-articles a .icons {
    padding: .65rem;
    border-radius: 50%;
    transition: all .5s ease;
    background: var(--linear1);
}

.swiper-articles a .icons * {
    transition: all .75s ease;
}

.swiper-articles a h4 {
    font-size: 1.25rem;
    font-weight: 600;
    /* transition: all 1s ease; */
}

.swiper-articles a:hover .icons {
    background: var(--text1);
}

.swiper-articles a:hover .icons * {
    color: var(--white2);
}


@media screen and (max-width: 1700px) {
    .swiper-articles {
        max-width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .swiper-articles {
        max-width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .swiper-articles a h4 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 400px) {
    .swiper-articles a h4 {
        font-size: 1rem;
    }
}

/* --------------------------- */
/* ------------------- */
/* faq-main */
.faq-main {
    display: flex;
    max-width: 40%;
    margin: 0 auto 0;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

/* ACCORDION ITEM */
.q-a-div {
    border: 1px solid gainsboro;
    border-radius: 6px;
    margin-bottom: .25rem;
    padding: .75rem 1rem;
    cursor: pointer;
    overflow: hidden;
    transition:
        background-color .35s ease,
        border-color .35s ease;
}

/* QUESTION */
.q {
    font-size: 1.5rem;
    line-height: 1.5;
    transition: color .35s ease, font-weight .45s ease;
}

/* ANSWER */
.a {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    margin-top: 0;
    color: var(--black1);
    line-height: 1.5;
    font-size: 1.2rem;

    transition:
        max-height .6s ease,
        opacity .35s ease,
        transform .35s ease,
        margin-top .35s ease;
}

.a svg {
    font-size: .5rem;
    margin-right: .5rem;
    margin-bottom: .2rem;
}

/* OPEN STATE */
.q-a-div.active {
    background: var(--gray3);
    border-color: var(--text1);
}

.q-a-div.active .q {
    /* color: transparent;
    background: var(--linear1);
    background-clip: text; */
    font-weight: 600;
}

.q-a-div.active .a {
    max-height: 300px;
    /* color: var(--white1); */
    opacity: 1;
    transform: translateY(0);
    margin-top: .25rem;
}

.faq-heading {
    font-size: 2.25rem;
    font-weight: 900;
    text-align: center;
    padding: 0 5% 1rem;
}

/* Desktop */
@media screen and (max-width: 1700px) {
    .faq-main {
        max-width: 50%;
    }

    .faq-heading {
        font-size: 2rem;
    }
}

/* Mobile */
@media (max-width: 800px) {
    .faq-main {
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto 0;
        gap: .1rem;
    }

    .faq-heading {
        font-size: 1.5rem;
    }

    .a {
        font-size: 1rem;
    }

    .q {
        font-size: 1.1rem;
    }

    .q-a-div.active .a {
        margin-top: .5rem;
    }
}

/* ---------------------- */
/* home-sticky-core-values */

.home-sticky-intro {
    max-width: 70%;
    margin: auto;
}

.home-sticky-intro * {
    text-align: center;
}

.home-sticky-intro h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: .5rem;
}

.home-sticky-intro p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.home-sticky-intro img {
    margin: 2rem auto 0;
    display: block;
    max-width: 50%;
    border-radius: 2rem;
    object-fit: cover;
    /* border: 1px solid red; */
}

.home-sticky-intro p span {
    font-size: inherit;
    font-weight: 600;
}

.home-sticky-core-values {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: auto;
}

.hscv-left {
    min-width: 35%;
    max-width: 35%;
    position: sticky;
    /* background: yellow;   */
    top: 120px;
    height: max-content;
}

.hscv-left h4 {
    font-size: 2.5rem;
    font-weight: 600;
}

.hscv-right {
    width: 60%;
    max-width: 60%;
}

.hscv-right-div {
    border: 1px solid gainsboro;
    min-height: 200px;
    padding: 2rem;
    margin-bottom: 2rem;
    background: var(--gray3);
    position: sticky;
    top: 120px;
    border-radius: 2rem;
    overflow: hidden;
}

.hscv-right-div:last-child {
    margin-bottom: 0;
}

/* .hscv-right-div::after {
    content: '';
    height: 200px;
    width: 200px;
    filter: blur(100px);
    position: absolute;
    right: 1px;
    top: 1px;
    opacity: .2;
    background: var(--linear1);
} */

.hscv-right-div h2 {
    font-size: 6rem;
    opacity: .1;
}

.hscv-right-div h4 {
    font-size: 2.5rem;
    font-weight: 600;
    color: transparent;
    background: var(--linear1);
    background-clip: text;
    max-width: max-content;
}

.hscv-right-div h6 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 1rem;
}


@media screen and (max-width: 1700px) {

    .home-sticky-intro,
    .home-sticky-core-values {
        max-width: 80%;
    }

    .home-sticky-intro h1 {
        font-size: 2.25rem;
    }

    .home-sticky-intro p {
        font-size: 1.25rem;
    }

    .hscv-left h4 {
        font-size: 2.25rem;
    }

    .hscv-right-div h2 {
        font-size: 5rem;
    }

    .hscv-right-div h4 {
        font-size: 2.25rem;
    }

    .hscv-right-div h6 {
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 1200px) {
    .hscv-left h4 {
        font-size: 1.75rem;
    }

    .home-sticky-intro,
    .home-sticky-core-values {
        max-width: 90%;
    }

    .hscv-right-div h2 {
        font-size: 4rem;
    }

    .hscv-right-div h4 {
        font-size: 2rem;
    }

    .hscv-right-div h6 {
        font-size: 1.25rem;
    }

    .hscv-right-div {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .home-sticky-intro h1 {
        font-size: 1.75rem;
    }

    .home-sticky-intro p {
        font-size: 1rem;
    }

    .home-sticky-intro img {
        margin-top: 1rem;
        max-width: 100%;
        width: 100%;
        border-radius: 1rem;
        height: 300px;
    }

    .hscv-right-div h2 {
        font-size: 3rem;
    }

    .hscv-right-div h4 {
        font-size: 1.5rem;
        line-height: 1.1;
    }

    .hscv-right-div h6 {
        font-size: 1rem;
    }

    .hscv-left h4 {
        font-size: 1.5rem;
        text-align: center;
    }

    .hscv-right-div {
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        top: 80px;
        margin-bottom: 1rem;
    }

    .home-sticky-core-values {
        flex-direction: column;
        gap: 1rem;
    }

    .hscv-left {
        min-width: 100%;
        max-width: 100%;
        position: relative;
        top: auto;
    }

    .hscv-right {
        width: 100%;
        max-width: 100%;
    }
}